colorama==0.4.6
decorator==5.2.1
imageio==2.37.2
imageio-ffmpeg==0.6.0
moviepy==2.2.1
mutagen==1.47.0
numpy==2.3.5
pillow==11.3.0
proglog==0.1.12
python-dotenv==1.2.1
tqdm==4.67.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.1